@import 'nib'
@import 'easing'

global-reset()

navigationHeight = 50px

@font-face {
  font-family: 'GothamNarrow-Bold';
  src: url('fonts/GothamNarrow-Bold.eot');
  src: local('☺'), url('fonts/GothamNarrow-Bold.woff') format('woff'), url('fonts/GothamNarrow-Bold.ttf') format('truetype'), url('fonts/GothamNarrow-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow-Medium';
  src: url('fonts/GothamNarrow-Medium.eot');
  src: local('☺'), url('fonts/GothamNarrow-Medium.woff') format('woff'), url('fonts/GothamNarrow-Medium.ttf') format('truetype'), url('fonts/GothamNarrow-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow-BlackItalic';
  src: url('fonts/GothamNarrow-BlackItalic.eot');
  src: local('☺'), url('fonts/GothamNarrow-BlackItalic.woff') format('woff'), url('fonts/GothamNarrow-BlackItalic.ttf') format('truetype'), url('fonts/GothamNarrow-BlackItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  -webkit-tap-highlight-color: transparent
}

html, body {
  height: 100%
  overflow: hidden

}

body {
  font-size: 27px;
  color: #f4f4f4;
  line-height: 50px;
  min-height: 50px;
  font-family: "GothamNarrow-BlackItalic",Sans-Serif;
  text-align: center;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

*{
   -webkit-user-select: none;
 }

@-webkit-keyframes slideLeftIn {
  from { -webkit-transform: translateX(100%) }
  to { -webkit-transform: translateX(0) }
}

@-webkit-keyframes slideRightIn {
  from { -webkit-transform: translateX(-100%) }
  to { -webkit-transform: translateX(0) }
}

@-webkit-keyframes slideLeftOut {
  from { -webkit-transform: translateX(0) }
  to { -webkit-transform: translateX(-100%) }
}

@-webkit-keyframes slideRightOut {
  from { -webkit-transform: translateX(0) }
  to { -webkit-transform: translateX(100%) }
}

.section {
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  display: none
  padding-top: navigationHeight

  &.active {
    display: block
  }

  &.in,
  &.out {
    -webkit-animation-duration: 350ms
    -webkit-animation-fill-mode: both
    -webkit-animation-timing-function: easeInOut
  }

  &.in:after {
    content: ""
    position: absolute
    display: block
    top: 0
    left: 0
    bottom: 0
    right: 0
  }

  &.forward {
    &.in {
      -webkit-animation-name: slideLeftIn
    }

    &.out {
      -webkit-animation-name: slideLeftOut
    }
  }

  &.backward {
    &.in {
      -webkit-animation-name: slideRightIn
    }

    &.out {
      -webkit-animation-name: slideRightOut
    }
  }
}

.navigation {
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #333
  font-size: 18px
  color: #aaa
  line-height: navigationHeight
  min-height: navigationHeight

  h1 {
    margin: 0 auto
    max-width: 120px
    overflow: hidden
    text-overflow: ellipsis
    text-align: center
    color: white
    font-size: 26px
    white-space: nowrap
  }

  .back {
    buttonHeight = 40px
    buttonMargin = (navigationHeight - buttonHeight) / 2
    arrowSize = buttonHeight / 2;

    position: absolute
    top: buttonMargin
    left: arrowSize + 2px
    bottom: 10px
    padding: 0 10px 0 5px
    color: white
    text-decoration: none
    font-size: 14px
    background: black
    max-width: 100px
    line-height: buttonHeight

    &:after {
      position: absolute
      top: 0
      left: -(arrowSize)
      content: " "
      width: 0
      height: 0
      border-top: arrowSize solid transparent
      border-bottom: arrowSize solid transparent
      border-right: arrowSize solid @background
    }
  }
}

#timeline {
  font-family:'GothamNarrow-Bold',Sans-Serif;
  position:fixed;
  bottom:0px;
  width: 100%;
  height: 44px;
  color:#252525;
  background-size: 320px 44px;
  background-image: url("images/timeline.png");
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);

  .days {
    li {
      text-shadow: 1px 1px 1px rgba(145,145,145, 0.25);
      font-size: 10px;
    }
  }

  .actuator{
    position: absolute;
    bottom: -67px
    left: 0
    width: 76px
    height: 100px
    padding: 6px 0
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.45)
    background: linear-gradient(top, #dfdfdf 0%, #bababa 100%);
    border-radius: 2px
    border: 1px rgba(68, 79, 91, 0.5) solid
    text-align: center;
    color: #5c5c5c;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7);
    transform: translateZ(0)
    transition: bottom 200ms easeOutBack

    .time {
      font-size: 14px;
      line-height: 1.5em
      font-family:'GothamNarrow-Medium',Sans-Serif;
    }

    .day {
      font-size: 10px;
      line-height: 1em
      font-family:'GothamNarrow-Bold',Sans-Serif;
      text-transform: uppercase
    }

    .arrow {
      content: "";
      position: absolute;
      top: -7px
      left: 50%
      margin-left: -5px
      width: 10px
      height: 9px
      background: url(images/timeline-arrow.png)
      background-size: 100%
    }

    &.active {
      bottom: -20px
    }

    // .arrow {
    //   position:absolute;
    //   background-image: url("images/timeline-actuator-arrow.png");
    //   background-size: 12px 6px;
    //   -webkit-background-size: 12px 6px;
    //   width:12px;
    //   height:6px;
    //   top:2px;
    //   left:32px;
    // }
  }
}

#timeline-line {
  position: absolute;
  border-left: 1px dashed rgba(0,0,0,0.2);
  top: 60px;
  height: 100%;
  width: 1px;
  left: 0;
}

#overview {
  .navigation {
    z-index: 2
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)

    ul {

      z-index: 3

      li {
        -webkit-transition: height 200ms easeOutQuart
        cursor: pointer
        height: 0
        overflow: hidden
        background: #222

        padding-left: 15px
        padding-right: @padding-left

        ul {
          margin: 0 -15px
          padding: 10px 0
          background: #222

          li {
            font-size: 14px
            padding-left: 35px
            line-height: 45px
          }
        }

        &.selected {
          height: navigationHeight
          display: block
          color: white
          background: #333
          background-size:320px 50px;
      background-image:url('images/nav-bar.png');
        }
      }
    }

    .handle {
      width: 50px
      height: 50px
      position: absolute
      top: 0
      right: 0
      z-index: 4


      .icon {
        position: absolute
        top: 0
        left: 0
        content: " "
        width: 100%
        height: 60px

        background-repeat: no-repeat
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><polygon fill='#ddd' points='12.849,13.424 19.397,6.876 16.548,4.025 10,10.575 3.451,4.026 0.602,6.875 10,16.272 '/></svg>");
        background-size: 20px
        background-position: center center
        transition: transform 200ms easeOutQuart
      }
    }
    .overlay {
      z-index: 2
      position: fixed;
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.7)
      opacity: 0
      transition: opacity 120ms linear
      pointer-events: none
    }

    &.open {
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8)

      li {
        height: navigationHeight

        li {

          border: 0
          bottom: 64px;
      overflow-y: scroll;
      overflow-x:hidden;

        }
      }

      .overlay {
        opacity: 100
        pointer-events: auto
      }

      .handle .icon {
        transform: rotate(-180deg)
      }
    }
  }

  .search-bar {
    height: 50px
    background: #666
    display: none
    padding: 0 7px
    line-height: 50px

    input {
      border-top: 1px #444 solid
      box-sizing: border-box
      font-size: 14px
      width: 100%
      line-height: @height - 18
      vertical-align: 2px
      border-radius: 20px
      background: white
      padding: 0 8px
      border: 0
      -webkit-appearance: none
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3)
    }
  }

  .list {
    position absolute
    top: navigationHeight
    left: 0
    right: 0
    bottom: 0
    overflow: scroll

    li {
      height: 100px
      border-bottom: 1px #aaa solid

      a {
        display: block
        height: 100px
        width: 100%
        position:relative;

        .graph {
          position: absolute
          bottom: 0
          left: -1px
          width: 400px
          height: 30px

          .day {
            position: relative
            width: 106px
            height: 100%
            float: left
            margin-right: 3px

            div {
              position: absolute
              bottom: 0
              width: 12px
              float: left
              background: #a2cbe3
              border: 1px white solid

              &.active {
                background: #3e85ae
              }
            }
          }
        }
      }
    }
  }

  .loader {
    display: none
    background: url(images/loader.gif)
    width: 32px
    height: 32px
    position: absolute
    top: 50%
    left: 50%
    margin-left: -16px

    &.active {
      display block
    }
  }
}

#detail {
}
